In [ ]:
import pandas as pd
import numpy as np

In [ ]:
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [ ]:
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [ ]:
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'], index = ['a', 'b', 'c'])

In [ ]:
days1 = pd.Series({'a':'Monday', 'b': 'Tuesday', 'c': 'Wednesday'})
print(days)
print(days1)

a       Monday
b      Tuesday
c    Wednesday
dtype: object
a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [ ]:
days[0]

'Monday'

In [ ]:
days[1:]

b      Tuesday
c    Wednesday
dtype: object

In [ ]:
days['c']

'Wednesday'

In [ ]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [ ]:
df_dict = {'Country':['Ghana', 'Kenya', 'Nigeria', 'Togo'],
           'Capital':['Accra', 'Nairobi', 'Abuja', 'Lome'],
           'Population': [1000, 8500, 35000, 12000],
            'Age': [60, 70, 80, 75]
}

df = pd.DataFrame(df_dict, index = [2,4,6,8])
df_list = [['Ghana', 'Accra', 1000, 60],
           ['Kenya', 'Nairobi', 8500,70],
           ['Nigeria', 'Abuja', 35000, 80],
           ['Togo', 'Lome', 12000, 75]
           ]
df1 = pd.DataFrame(df_list, columns = ['Country', 'Capital', 'Population', 'Age'],
                   index = [2,4,6,8]
                   )
df

   Country  Capital  Population  Age
2    Ghana    Accra        1000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [ ]:
df1

   Country  Capital  Population  Age
2    Ghana    Accra        1000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [ ]:
df.iloc[3]

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

In [ ]:
df.loc[6]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [ ]:
df['Capital']

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [ ]:
df.at[6, 'Country']

'Nigeria'

In [ ]:
df.iat[2, 0]

'Nigeria'

In [ ]:
df['Population'].sum()

56500

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Population    14125.00
Age              71.25
dtype: float64

In [ ]:
df.describe()

         Population        Age
count      4.000000   4.000000
mean   14125.000000  71.250000
std    14653.640048   8.539126
min     1000.000000  60.000000
25%     6625.000000  67.500000
50%    10250.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000

In [ ]:
df_dict2 = {'Name': ['James', 'Yemen', 'Caro', np.nan],
            'Profession': ['Researcher', 'Artist', 'Doctor', 'Writer'],
            'Experience': [12, np.nan, 10, 8],
            'Height': [np.nan, 175, 180, 150]
            }
new_df = pd.DataFrame(df_dict2)
new_df

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0

In [ ]:
new_df.isnull()

    Name  Profession  Experience  Height
0  False       False       False    True
1  False       False        True   False
2  False       False       False   False
3   True       False       False   False

In [ ]:
new_df.dropna()

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0